/* Base--------------------------------------------- */

/* Typography */

body {
    background-color: rgb(231, 231, 231);
    color: rgb(41, 50, 65);
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat Alternates", serif;
    margin: 0.5em 0;
}

h2 {
    font-size: 2rem;
}

/* Elements */

section {
    padding: 0 1rem;
}

/* Links */

a,
a:visited {
    color: rgb(61, 90, 128);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: rgb(238, 108, 77);
    text-decoration: underline;
}

ul {
    list-style: none;
}

/* Components---------------------------------------------*/

/* Header */

.logo {
    width: 8rem;
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(41, 50, 65);
    align-items: center;
    width: 100%;
}

.site-header li a {
    color: rgb(238, 108, 77);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active {
    background-color: rgb(238, 108, 77);
    color: rgb(61, 90, 128);
}

/* Navigation Menu - Mobile View */
/* Pulldown Menu */

.navicon {
    /* display: block; */
    background-color: transparent;
    width: 3rem;
    border: none;
}

.nav-list {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    top: 6rem;
    left: 0;
    text-align: center;
    background-color: rgb(41, 50, 65);
}

.navicon:focus + .nav-list {
    display: block;
}

.nav-list li {
    margin: 3.5rem 0;
}

/* Navigation Menu - Desktop View */

@media (min-width: 43.75em) {
    .site-wrapper {
        display: flex;
    }

    .site-header {
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        width: 15%;
        height: 100%;
    }

    .body-wrapper {
        margin-left: 15%;
    }

    .navicon {
        display: none;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        position: inherit;
        padding: 0;
    }
}

/* Main - Hero */

.hero-container {
    background-color: rgb(190 215 245);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 5rem 1.8rem 2rem;
}

.hero-container img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.name {
    color: rgb(238, 108, 77);
    text-decoration: underline;
}

.hero-text {
    /* text-align: center; */
    /* display: flex;
    flex-wrap: wrap; */
}

/* Hero - Desktop View */

@media (min-width: 43.75em) {
    .hero-container {
        min-height: 45rem;
        flex-wrap: nowrap;
        gap: 7rem;
        padding: 0 15rem 0 8rem;
        align-items: center;
    }

    /* .btn-down {
        font-size: 2rem;
        padding: 0 1rem;
        background-color: black;
        border-radius: 50%;
        text-align: center;
        margin-top: 5rem;
    } */
}

/* Main - Projects */

.projects {
    text-align: center;
}

.projects button {
    border: 1px solid rgb(238, 108, 77);
    background-color: rgb(41, 50, 65);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}

.project-list article {
    border: solid 7px;
    border-radius: 9rem;
    box-shadow: 20px 10px rgb(152, 193, 217);
    margin: 2rem 1.8rem;
    padding-bottom: 4rem;
}

.project-list article img {
    width: 20rem;
    border-radius: 9rem 9rem 0 0;
    margin-bottom: 2rem;
}

.project-list p {
    font-size: 1.2rem;
}

/* Main - Contact */

.bg-blue {
}

.contact {
    text-align: center;
    margin: 3rem auto;
    padding: 2rem;
    border: solid;
    max-width: 25rem;
}

.contact p {
    margin: 1.5rem 0 2.5rem;
}

.contact a {
    border: solid;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem;
}

/* Footer */

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem 2rem 2rem;
    background-color: rgb(41, 50, 65);
}

.top-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: rgb(238, 108, 77);
    border: 1px solid rgb(238, 108, 77);
}

.site-footer i {
    padding: 0.5rem;
}
