/* Base--------------------------------------------- */

/* Typography */

body {
    background-color: rgb(231, 231, 231);
    color: rgb(41, 50, 65);
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat Alternates", serif;
    margin: 0.5em 0;
}

.logo {
    width: 10rem;
}

/* Elements */

section {
    padding: 0 1rem;
}

/* Links */

a,
a:visited {
    color: rgb(61, 90, 128);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: rgb(238, 108, 77);
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted;
}

ul {
    list-style: none;
}

/* Components---------------------------------------------*/

/* Header */

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgb(41, 50, 65);
    align-items: center;
}

.site-header li a {
    color: rgb(238, 108, 77);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active {
    background-color: rgb(238, 108, 77);
    color: rgb(61, 90, 128);
}

/* Navigation Menu - Mobile View */

.navicon {
    display: block;
    background-color: transparent;
    width: 2.3rem;
    border: none;
    cursor: pointer;
}

.nav-list {
    display: none;
}

/* TO DO: Open nav-list upon clicking the navicon */

/* Navigation Menu - Desktop View */

@media (min-width: 43.75em) {
    .navicon {
        display: none;
    }

    .site-navigation {
        flex: 1 1 auto;
    }

    .site-navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
    }
}

/* Main - Hero */

.hero-container {
    /* background-image: url("../images/hero-banner2.jpg"); */
    min-height: 45rem;
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 75%;
    /* background-color: rgb(231, 231, 231, 0.8); */
    text-align: center;
}

/* Main - Projects */

.projects {
    text-align: center;
}

.projects button {
    border: 1px solid rgb(238, 108, 77);
    background-color: rgb(41, 50, 65);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-right: 0.3rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}

.project-list article {
    border: solid 7px;
    border-radius: 9rem;
    box-shadow: 20px 10px rgb(152, 193, 217);
    margin: 2rem 1rem;
    padding-bottom: 4rem;
}

.project-list article img {
    width: 20rem;
    border-radius: 9rem 9rem 0 0;
    margin-bottom: 2rem;
}

.project-list p {
    font-size: 1.2rem;
}

/* Main - Contact */

.bg-blue {
}

.contact {
    margin: 3rem auto;
    padding: 2rem;
    border: solid;
    max-width: 25rem;
}

.contact p {
    margin: 1.5rem 0 2.5rem;
}

.contact a {
    border: solid;
    border-radius: 0.5rem;
    display: block;
    padding: 0.5rem;
}

/* Footer */

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem 2rem 2rem;
    background-color: rgb(41, 50, 65);
}

.top-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: rgb(238, 108, 77);
    border: 1px solid rgb(238, 108, 77);
}

.site-footer i {
    padding: 0.5rem;
}
